.container-emphasis-home {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  background-color: rgb(165, 165, 165);
}
.container-emphasis-home::-webkit-scrollbar {
  height: 0;
}
.card-emphasis-title {
  color: rgb(255, 255, 255);
  font-size: 70px;
}
.card-emphasis-home {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-emphasis-home img {
  width: 320px;
  height: 100%;
  margin: 20px 10px;
  border-radius: 50px;
}
.container-emphasis-price {
  margin: 5px;
  text-align: center;
}
.card-emphasis-price {
  text-decoration: line-through;
}
.card-emphasis-discount {
  font-size: 30px;
  margin-bottom: 20px;
}
